@import 'assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css2?family=Marcellus&family=PT+Serif&display=swap';

body {
	font-family: 'PT Serif', serif; ; 
	font-weight: 300;
	background-color: #ECE4DA;
	color: #36302A;
}
@keyframes fadeIn {
	0% { opacity: 0; transform: translateY(20px); }
	100% { opacity: 1; transform: translateY(0); }
}

.fade-in-element {
	opacity: 0;
	animation: fadeIn 1.5s ease-in forwards;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #ECE4DA;
	margin: 0px 27px;
}
header h1 {
	font-family: 'Marcellus', serif;
	font-weight: 200;
	font-size: 2em;
	color: #36302A;
}
header nav a {
	margin-left: 20px;
	color: #574C3F;
	text-decoration: none;
	/* font-weight: bold; */
}
.hero {
	position: relative;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/portfoliohome.png') no-repeat center center;
	background-size: cover;
	height: 80vh;
	/* width: 200vh; */
	display: flex;
	margin: 0px 50px;
	align-items: center;
	justify-content: center;
	color: #F6F3EC;
	flex-direction: column;
}

.hero h2 {
	font-family: 'Marcellus', serif;
	font-size: 4.5em;
	color: #F6F3EC;
	font-weight: 200;
	margin-bottom: 10px;
}

.hero p {
	font-family: 'PT Serif', serif;
	font-size: 1.2em;
	color: #F6F3EC;
	position: relative;
	z-index: 2;
	margin-top: 0px;
}

.hero a.resume-button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #574C3F;
	color: #F6F3EC;
	text-decoration: none;
	border-radius: 20px;
	transition: background-color 0.3s;
}
.hero a.resume-button:hover {
	background-color: #36302A;
}

.projects {
	text-align: left;
	padding: 50px;
	background-color: #ECE4DA;
}
.projects h2 {
	font-family: 'Marcellus', serif;
	color: #574C3F;
	margin-bottom: 50px;
	font-weight: 200;
	font-size: 3em;
}
.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
	padding: 0 50px;
}
.project-card {
	background-color: #ECE4DA;
	/* padding: 20px;
	border-radius: 10px; */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	transition: transform 0.3s;
	padding: 30px;
	position: relative;
}
.project-card.fade-in-element {
	animation-delay: 0.5s;
}
.project-card:hover {
	transform: scale(1.05);
}
.project-card img {
	width: 100%;
	height: 60%;
	/* border-radius: 10px; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card h3 {
	font-family: 'Marcellus', serif;
	color: #36302A;
	margin: 20px 0 10px;
	font-weight: 340;
	height: 50px;
	text-decoration: underline;
	font-size: 1.2em;
}
.project-card p {
	color: #574C3F;
	margin-bottom: 10px;
	height: 70px;
}

.project-card a.github-button {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 25px;
	padding: 10px 20px;
	background-color: #574C3F;
	color: #F6F3EC;
	text-decoration: none;
	border-radius: 20px;
	transition: background-color 0.3s;
	/* margin-left: -150px; */
}

.project-card a.github-button:hover {
	background-color: #36302A;
}

.work-experience {
	padding: 50px; 
	background-color: #ECE4DA;
}

.work-experience h2 {
	font-family: 'Marcellus', serif; 
	color: #574C3F; 
	font-weight: 200; 
	font-size: 3em;
}

.work-item {
	margin-bottom: 10px;
	margin-left:50px;
	margin-right: 50px;
	padding: 20px; 
	border: 1px solid #B9A590; 
	background-color: #F6F3EC;
	position: relative;
}

/* .work-name {
	padding-bottom: 20px;
} */

.work-name h3{
	font-family: 'Marcellus', serif; 
	color: #36302A; 
	font-size: 1.5em; 
	font-weight: 350;
	margin: 0px 20px;
}

.work-company {
	font-family: 'PT Serif', serif; 
	color: #574C3F; 
	font-size: 1em;
	margin: 0px 20px;
}

.details-button {
	position: absolute;
	top: 20px; 
	right: 20px;
	background-color: #F6F3EC; 
	color: #574C3F; 
	padding: 10px 20px; 
	border-color: #B9A590; 
	border-radius: 20px; 
	cursor: pointer; 
	font-family: 'PT Serif', serif; 
	font-size: 1em;
}

.work-item .project-list {
	display: none;
	margin-left: 20px;
	margin-top: 15px;
	border-top: 1px solid #B9A590
}

.work-item div {
	margin-left: 20px;
}

.project-item {
	/* display: flex;  */
	align-items: center; 
	margin-bottom: -20px;

}

.project-item h4 {
	font-family: 'Marcellus', serif; 
	color: #36302A; 
	font-size: 1.2em; 
	font-weight: 300;
	text-decoration: underline;
}

.project-item p {
	font-family: 'PT Serif', serif; 
	color: #574C3F; 
	font-size: 1em; 
	list-style: none; 
	padding-left: 0;
	margin-top: -20px;
	margin-bottom: 50px;
}

.skills{
	padding: 50px; 
	background-color: #ECE4DA;
}

.skills h2 {
	font-family: 'Marcellus', serif; 
	color: #574C3F; 
	font-weight: 200; 
	font-size: 3em;
}
.skills ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.skills li {
	font-size: 3em;
	color: #574C3F;
}

.publications {
	text-align: left;
	padding: 50px;
	background-color: #ECE4DA;
}
.publications h2 {
	font-family: 'Marcellus', serif;
	color: #574C3F;
	margin-bottom: 50px;
	font-weight: 200;
	font-size: 3em;
}
.publication-item {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.publication-item img {
	width: 280px;
	height: auto;
	margin-right: 10px;
	margin-left: 0px;
	border-radius: 0px;
}
.publication-details {
    max-width: auto;
}
.publication-details h3 {
	font-family: 'Marcellus', serif;
	color: #36302A;
	font-weight: 300;
	font-size: 2em;
	margin-bottom: 10px;
}
.publication-details p {
	font-family: 'PT Serif', serif;
	color: #574C3F;
	font-size: 1.1em;
}

.publication-details a {
	color: #574C3F;
	border: none;
	cursor: pointer;
}

.contact {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	background-color: #ECE4DA;
}

.contact h2 {
	font-family: 'Marcellus', serif;
	color: #574C3F;
	margin-bottom: 50px;
	font-weight: 200;
	font-size: 3em;
}
.contact-form {
	width: 50%;
	margin-top: 60px;
}
.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #574C3F;
	border-radius: 18px;
	background-color: #ECE4DA;
}
.contact-form button {
	background-color: #574C3F;
	color: #F6F3EC;
	border: none;
	padding: 15px 30px;
	font-size: 1em;
	border-radius: 25px;
	cursor: pointer;
}
.icons a, a:visited, a:hover, a:active {
	outline: none;
	text-decoration: none;
	color: inherit;
}

/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 0.65em 0 0;
}

ul.icons li:last-child {
	padding-right: 0 !important;
}

.contact-info dl.alt {
	font-family: 'PT Serif', serif;
	color: #574C3F;
	font-size: 1.1em;
}
.contact-info dl.alt dt {
	font-weight: bold;
	margin-bottom: 5px;
}
.contact-info dl.alt dd {
	margin: 0 0 15px 0;
}
.contact-info a {
	color: #574C3F;
	text-decoration: none;
}
.contact-info a:hover {
	text-decoration: underline;
}