.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
    text-decoration: underline;
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

// .vertical-timeline-element h3:hover {
//     text-decoration: underline;
// }

.vertical-timeline-element:hover {
    transform: scale(1.1);
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the modal stays above other content */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    z-index: 1000; /* Overlay should cover the background */
}

.modal-main {
    position: relative;
    background: white;
    padding: 2rem;
    border-radius: 0px;
    width: 50rem;
    max-height: 80vh;
    overflow-y: auto;
    color: black; /* Set text color to black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure the modal content is above the overlay */
}

.modal-body h2,p {
    color: black;
}

.modal-body ul {
    list-style-type: disc; /* Ensure it displays as a proper list */
    padding-left: 1.5rem; /* Add left padding for indentation */
    font-size: 0.9rem; /* Reduce font size */
    line-height: 1.4; /* Adjust line height for better readability */
    color: black; /* Ensure text color is visible */
}

.modal-body ul li {
    margin-bottom: 0.5rem; /* Add spacing between list items */
}

.btn-container .btn {
    background-color: #615297; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    padding: 0.8rem 1.5rem; /* Add padding for size */
    font-size: 1rem; /* Adjust font size */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.btn-container .btn:hover {
    background-color: #4e417a; /* Darker shade for hover effect */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.btn-container .btn:active {
    background-color: #3b3063; /* Even darker shade for active state */
    transform: scale(0.95); /* Slightly shrink button on click */
}
